/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Main */
* {
    -webkit-box-sizing: border-box;
       -mox-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html  {
    line-height: 1.6;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
    color: #1f219c;
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
  }
    a:hover {
      color: rgb(62, 114, 255);
    }
  
  .lead {
    margin-bottom: 60px;
    font-size: 18px;
  }
  
  .btn {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none !important;
  }
    .btn:hover {
      background: #fff;
      color: rgb(0, 0, 0);
    }
  
  .indent {
    text-indent: 5%;
  }

  /*
   * Main banner elem
   * 1. Make sure the original is higher z-index so when scrolling up fast, the clone goes underneith.
      Prevents visual overlap.
   */
  .banner {
    width: 100%;
    height: 70px;
    position: relative; /* 1 */
    z-index: 2; /* 1 */
    background: rgba(255, 255, 255, .6);
    color: rgb(65, 65, 65);
    overflow: hidden;
    }
  
    .banner a {
      color: rgb(65, 65, 65);
      padding: 28px;    
    }
  
    .banner a:hover {
      color: white;      
      background-color: #999;
    }
  
  .logo {
    float: left;
    margin: 0;
    font-size: 20px;
    line-height: 70px;
  }
  
  .nav {
    float: right;
    height: 40px;
    padding: 0;
    margin: 15px 0 0;
  }
  
    .nav__item {
      height: 40px;
      line-height: 40px;
      padding: 0;
      display: inline-block;
    }
  
    .nav__item--btn {
      display: inline-block;
      width: auto;
      padding: 0;
      font-size: 14px;
      line-height: 38px;
    }

    .active a {
      background-color: #999;
      color: white;
    }
  
  .heromain {
    margin-bottom: 60px;
    padding: 200px;
    max-width:100%;
    height: auto;
    background-image: url(../img/CHUN4870.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(48, 48, 48);
    text-align: center;
    overflow: hidden;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
  }

  .herovenue {
    margin-bottom: 60px;
    padding: 50px;
    max-width:100%;
    height: auto;
    color: rgb(48, 48, 48);
    text-align: center;
    overflow: hidden;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
  }

  @media screen and (max-width: 740px) {
    .banner {
      height: 60px;
    }
    .banner a {
      font-size: 12px;
      padding: 10px;
    }
  }

  @media screen and (max-width: 505px) {
    .logo {
      font-size: 18px;
    }

    .banner {
      height: 55px;
    }
    .banner a {
      font-size: 12px;
      padding: 2px;
    }
  }

  @media screen and (max-width: 400px) {
    .logo {
      display: none;
    }

    .banner {
      height: 55px;
    }
    .banner a {
      font-size: 12px;
      padding: 2px;
    }
  }  
  @media screen and (max-width: 540px) {
    .heromain {
      padding: 40px 0;
    }
    .herovenue {
      padding: 40px 0;
    }
  }
  
  .hero__title {
    margin: 0 0 10px;
    font-size: 72px;
  }
  
  .map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }

  .map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .ritz {
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
  }

  @media screen and (max-width: 800px) {
    .hero__title {
      font-size: 38px;
      color: white;
    }

    .hero__snippet {
      font-size: 30px;
      color: white;
    }

    .hero__titlevenue {
      font-size: 38px;
      color: black;
    }
  }
  
  @media screen and (max-width: 540px) {
    .hero__title {
      font-size: 28px;
      color: white;
    }

    .hero__titlevenue {
      font-size: 28px;
      color: black;
    }
  }

  .hero__snippet {
    margin: 0 0 40px;
    font-size: 34px;
    font-style: italic;
  }
  
  @media screen and (max-width: 540px) {
    .hero__snippet {
      font-size: 24px;
      color: white;
    }
  }
  
  .hero__btn {
    width: 160px;
    margin-bottom: 10px;
    padding: 10px 0;
    border-color: rgb(220, 220, 220);
    background-color: rgba(59, 59, 59, 0.623);
    color: rgb(220, 220, 220);
    display: inline-block;
  }
  
  .btn-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #btn-venue {
    padding-top: 20px;
  }
  
  .btn-list__item {
    display: inline-block;
    margin: auto 5px;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: auto;
  }
  
  footer {
    margin-top: 60px;
    color: #888;
    border-top: 1px solid #eee;
    font-size: 14px;
  }
  
  footer .top {
    float: right;
  }

  .registryhover:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  }

  .photohover:hover {
    filter: sepia(30%);
  }

  .venuemargin {
    margin-top: 100px;
  }

  .photorow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .photocolumn {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .photocolumn img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .photocolumn {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .photocolumn {
      flex: 100%;
      max-width: 100%;
    }
  }

  .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }

  /* Add Animation */
  .modal-content {    
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      z-index: 7;
  }

  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }
  /* Invitation */
.invitation .form-wrapper {
	background: #fff;
	padding: 20px 15px 30px;
	margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
	.invitation .form-wrapper {
		margin-bottom: 0;
	}
}
.invitation h3 {
	margin: 10px 0;
}
.invitation .video {
	height: 450px;
	overflow: hidden;
	border-radius: 5px;
	background-image: url(../img/video-bg.jpg);
}
.invitation .video:hover a {
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.invitation .video:hover .overlay {
	opacity: 0.5;
}
.invitation .video a {
	z-index: 1001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
	display: table;
	text-align: center;
}
.invitation .video a i {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.invitation .video .overlay {
	transition: all 0.5s ease;
}
.switch-field {
	height: 50px;
}
.switch-field .switch {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 50px;
	text-align: center;
	margin: -25px 0 0 -100px;
	transition: all 0.2s ease;
}
.switch-field .switch span {
	position: absolute;
	width: 20px;
	height: 4px;
	top: 50%;
	left: 50%;
	display: block;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transition: all 0.2s ease;
}
.switch-field .switch span:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	transition: all 0.2s ease;
}
.switch-field input[type=radio] {
	display: none;
}
.switch-field .switch label {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.2);
	width: 60px;
	line-height: 50px;
	transition: all 0.2s ease;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	position: absolute;
}
.switch-field label[for=yes] {
	left: 0px;
}
.switch-field label[for=no] {
	right: 0px;
}
.switch-field #yes:checked ~ .switch label[for=yes] {
	border-color: #4CAF50;
	color: #4CAF50;
}
.switch-field #yes:checked ~ .switch span {
	background: #4CAF50;
	margin: -2px 0px 0px -4px;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.switch-field #yes:checked ~ .switch span:after {
	background: #4CAF50;
	margin-top: -8px;
	width: 4px;
	height: 12px;
}
.switch-field #no:checked ~ .switch label[for=no] {
	border-color: #F44336;
	color: #F44336;
}
.switch-field #no:checked ~ .switch span {
	background: #F44336;
	margin-left: -8px;
}
.switch-field #no:checked ~ .switch span:after {
	background: #F44336;
	height: 20px;
	margin-top: -8px;
	margin-left: 8px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}